{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<title>Инвентарь</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!--  -->
            {% for product in inventory %}
            <div class="col mb-5">
                <div class="card h-100" data-bs-toggle="modal" data-bs-target="#modalId"
                    data-title="{{ product.product.title }}" data-description="{{ product.product.description }}"
                    data-photo="{{ product.product.photo.url }}">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.product.photo.url }}" alt="..."
                        style="max-width: 450px; max-height: 300px;" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.product.title }}</h5>
                            <!-- Product price-->
                            {{ product.product.price }} Монет

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--  -->
        </div>
    </div>
</section>

<!-- Modal-window Achievements -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="d-flex justify-content-center">
                    <img src="" alt="avatar" class="img-fluid" style="width: 150px; height: 165px;">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('modalId');
        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var title = button.getAttribute('data-title');
            var description = button.getAttribute('data-description');
            var photo = button.getAttribute('data-photo');

            var modalTitle = modal.querySelector('.modal-title');
            var modalBody = modal.querySelector('.modal-body');
            var modalImage = modal.querySelector('.modal-body img');

            modalTitle.textContent = title;
            modalBody.querySelector('p').textContent = description;
            modalImage.src = photo;
        });
    });
</script>

{% endblock %}

{% block js-scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}