{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 16pt;">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" style="font-size: 16pt;" href="/">Motiv8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item dropdown m-2">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Рейтинги
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'ratings_teams' %}">Команды</a></li>
                        <li><a class="dropdown-item" href="{% url 'ratings_users' %}">Участники</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item m-2">
                    {% if is_in_team %}
                    <a class="nav-link active" href="{% url 'teams' %}">Команды</a>
                    {% else %}
                    <a class="nav-link active" href="{% url 'create_team' %}">Создать команду</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav  m-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item m-2">
                    <a class="nav-link active" href="{% url 'profile' user.id %}">{{user.username}}</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active" href="{% url 'logout' %}">Выход</a>
                </li>
                {% else %}
                <li class="nav-item m-2">
                    <a class="nav-link active" href="{% url 'authorization' %}">Вход</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active" href="{% url 'registration' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>