{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<title>Профиль {{ user_info.username }}</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block body %}

<body>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ user_photo_url }}" alt="User Photo" class="img-fluid" style="width: 150px; height: 165px;">
              <h5 class="my-3">{{user_info.username}}</h5>
              <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#EditTeamProfile">Загрузить
                фотографию
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
              </button>
              <a href="{% url 'inventory' %}">
                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#EditTeamProfile">Инвентарь
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-pencil" viewBox="0 0 16 16">
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                  </svg>
                </button>
              </a>
              <div class="mb-2">
                <p class="mt-4 mb-1" style="font-size: .77rem;">
                  ранг: {{user_game_info.rank.title}} уровень: {{user_game_info.level}} опыт: {{user_game_info.xp}}</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: {{user_game_info.get_progress}}%"
                    aria-valuenow="{{ user_game_info.get_progress }}" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Требуемый опыт для следующего уровня: {{ user_game_info.get_next_level_required_xp }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for achievement_obj in achievements %}
                <div class="col">
                  <div class="card" data-bs-toggle="modal" data-bs-target="#modalId" style="border:none;"
                    data-title="{{ achievement_obj.achievement.title }}"
                    data-description="{{ achievement_obj.achievement.description }}"
                    data-photo="{{ achievement_obj.achievement.photo.url }}">
                    <img src="{{ achievement_obj.achievement.photo.url }}"
                      class="card-img-top rounded-circle mx-auto d-block mt-3" alt="Достижение 1"
                      style="width: 50px; height: 50px;">
                    <div class="card-body text-center">
                      <h5 class="card-title">{{ achievement_obj.achievement.title }}</h5>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Имя</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_info.last_name}} {{user_info.first_name}} {{user_info.patronymic}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Почта</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user_info.email}}</p>
                </div>
              </div>
            </div>
          </div>
          {% if is_user_owner %}
          <div class="row">
            <div class="col">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <h3>Текущие задания</h3>
                  {% for task in tasks %}
                  <div class="card m-1 mb-2">
                    <div class="row align-items-center">
                      <div class="col-5 mt-3 ms-3" style="font-size: 15pt;">
                        <p>{{ task.task.title }}</p>
                      </div>
                      <div class="col-3 mt-3 ">
                        <p style="font-style: italic;">От команды: {{task.task.team.title}}</p>
                      </div>
                      <div class="col-3" style="font-size: 14pt;">{{ task.task.xp_reward }} xp /
                        {{ task.task.coins_reward }} coins</div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Modal-window Achievements -->
  <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p></p>
          <div class="d-flex justify-content-center">
            <img src="" alt="avatar" class="img-fluid" style="width: 150px; height: 165px;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal-window EditProfile -->
  <div class="modal fade" id="EditTeamProfile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Редактирование профиля</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editTeamForm" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Фото:</label>
              <input class="form-control" type="file" id="photo-team-profile-tb" name="photo" accept="image/*">
            </div>
            <input type="hidden" name="team_id" value="{{ team.team_id }}">
            <div class="container d-flex justify-content-end">
              <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Отмена</button>
              <button type="submit" class="btn btn-primary m-1">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var modal = document.getElementById('modalId');
      modal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var title = button.getAttribute('data-title');
        var description = button.getAttribute('data-description');
        var photo = button.getAttribute('data-photo');

        var modalTitle = modal.querySelector('.modal-title');
        var modalBody = modal.querySelector('.modal-body');
        var modalImage = modal.querySelector('.modal-body img');

        modalTitle.textContent = title;
        modalBody.querySelector('p').textContent = description;
        modalImage.src = photo;
      });
    });
  </script>


</body>

{% endblock %}

{% block js-scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}