{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<title>Главная</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
  .nav-tabs .nav-link {
    color: rgb(28, 28, 28);
  }

  .nav-tabs .nav-link.active {
    color: black;
  }

  .card-link{
    text-decoration: none;
  }
</style>
{% endblock %}


{% block body %}

<body>
  <div class="container mt-5">
    <div class="row" style="font-size: 14pt;">
      <div class="col-3"></div>
      <div class="col-6">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <div class="col-6">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="table1-tab" data-bs-toggle="tab" data-bs-target="#table1"
                type="button" role="tab" aria-controls="table1" aria-selected="true">Управление моими командами</button>
            </li>
          </div>
          <div class="col-6">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="table2-tab" data-bs-toggle="tab" data-bs-target="#table2" type="button"
                role="tab" aria-controls="table2" aria-selected="false">Команды, в которых я состою</button>
            </li>
          </div>
        </ul>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#CreateTeam">Создать
          команду</button>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="table1" role="tabpanel" aria-labelledby="table1-tab">
        {% for team in owned_teams %}
        <div class="row">
          <div class="col">
              <div class="card mb-4 mb-md-0" style="border:none;">
                  <div class="card-body">
                      <a href="{% url 'team_detail_test' team.team_id %}" class="card-link">
                      <div class="card m-1 mb-2">
                          <div class="row align-items-center" style="font-size: 14pt;">
                    <div class="col-2 m-1 ">
                      <img src="https://via.placeholder.com/100" class="card-img-top mx-auto d-block m-1"
                        style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-3" style="font-size: 15pt;">
                      <p>{{ team.title }}</p>
                    </div>
                    <div class="col-3">Участников {{ team.members.count }}</div>
                    <div class="col-3">{{ team.xp }} xp</div>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="table2" role="tabpanel" aria-labelledby="table2-tab">
        {% for team in member_teams %}
        <div class="row">
          <div class="col">
              <div class="card mb-4 mb-md-0" style="border:none;">
                  <div class="card-body">
                      <a href="{% url 'team_detail_test' team.team.team_id %}" class="card-link">
                      <div class="card m-1 mb-2">
                  <div class="row align-items-center" style="font-size: 14pt;">
                    <div class="col-2 m-1 ">
                      <img src="https://via.placeholder.com/100" class="card-img-top mx-auto d-block m-1"
                        style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-3" style="font-size: 15pt;">
                      <p>{{ team.team.title }}</p>
                    </div>
                    <div class="col-3">Участников {{ team.team.members.count }}</div>
                    <div class="col-3">{{ team.team.xp }} xp</div>
                  </div>
                </div>
               </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Modal-window TaskDetail -->
  <div class="modal fade" id="CreateTeam" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Создание команды</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" id="create-team-name-tb">
          </div>
          <div class="mb-3">
            <label class="form-label">Фотография</label>
            <input type="file" class="form-control" id="create-team-photo-tb" accept="image/*" rows="3"></input>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Создать команду</button>
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock %}


{% block js-scripts %}


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}