{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<title>Логин</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block body %}

  <section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="POST" action="{% url 'authorization' %}">
                  {% csrf_token %}
                  <div class="row">
                    <h2 class="m-2">Вход в аккаунт</h2>
                    <div data-mdb-input-init class="form-outline mt-4 mb-4">
                      <input type="text" id="login-or-email-tb" required name="login_or_email" placeholder="ivanivanov" class="form-control" />
                      <label class="form-label">Почта или логин</label>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="password-tb" name="password" required  placeholder="••••••••••••" class="form-control" />
                      <label class="form-label">Пароль</label>
                    </div>
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary btn-lg btn-block mb-4">
                      Войти
                    </button>
                  <div class="container text-center">
                      <hr class="my-4">
                      <p>Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
                      <p><a href="{% url 'forgot_password' %}">Забыли пароль?</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-5 fw-bold ls-tight">
            Добро пожаловать в
            <span class="text-primary">Motiv8</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%); font-size:x-large">
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js-scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}