{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<title>Восстановление пароля</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block body %}
<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-md-6 offset-md-2">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form method="POST" action="{% url 'forgot_password' %}">
              {% csrf_token %}
              <div class="row">
                <h2 class="m-2">Восстановление пароля</h2>
                <div data-mdb-input-init class="form-outline mt-4 mb-4">
                  <label class="form-label">Почта</label>
                  <input type="email" name="email" id="email-tb" required placeholder="ivanivanov@mail.ru" class="form-control" />
                </div>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                  class="btn btn-primary btn-lg btn-block mb-4">
                  Отправить
                </button>
              </div>
              <div class="container text-center">
                <hr class="my-4">
                <p>Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
                <p><a href="{% url 'forgot_password' %}">Забыли пароль?</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"> 
        <h2 class="m-2">Укажите свой адрес электронной почты и мы вышлем вам письмо с инструкциями по восстановлению пароля</h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js-scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}  
